<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Website v2.0</h4>
      <h4>New VersionA</h4>
      <br>
       <h4>v2.0</h4>
    </div>
  </body>
</html>
